<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.deepread.app.hamnet.privilegedHelper</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>com.deepread.app.hamnet.privilegedHelper</string>
	<key>CFBundleShortVersionString</key>
	<string>0.56</string>
	<key>CFBundleVersion</key>
	<string>56</string>
	<key>SMAuthorizedClients</key>
	<array>
		<string>identifier "com.deepread.app.hamnet" and anchor apple generic and certificate leaf[subject.CN] = "Apple Development: mengxin ling (5F7UA7Q5T2)" and certificate 1[field.1.2.840.113635.100.6.2.1] /* exists */</string>
	</array>
</dict>
</plist>
